@charset "UTF-8";

@font-face {
  font-family: ElMessiri;
  font-display: swap;
  src: url("../fonts/ElMessiri-Regular.woff2") format("woff2"), url("../fonts/ElMessiri-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: ElMessiri;
  font-display: swap;
  src: url("../fonts/ElMessiri-SemiBold.woff2") format("woff2"), url("../fonts/ElMessiri-SemiBold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Bold.woff2") format("woff2"), url("../fonts/Raleway-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Regular.woff2") format("woff2"), url("../fonts/Raleway-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Raleway;
  font-display: swap;
  src: url("../fonts/Raleway-Medium.woff2") format("woff2"), url("../fonts/Raleway-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #1B1B1E;
  line-height: 1;
  font-family: "Raleway";
  font-size: 1.125rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Raleway";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
  -ms-scroll-chaining: none;
      overscroll-behavior: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 81.5625rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

._section-title {
  line-height: 1.2;
  font-family: "ElMessiri";
  color: #1B1B1E;
  text-align: center;
  font-weight: 500;
}

.ymaps-2-1-79-gototech {
  display: none !important;
}

.header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  padding: 2.5rem 0;
  z-index: 50;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.header._header-scroll {
  background-color: #fff;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  padding: 1.25rem 0;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.125rem;
  position: relative;
  z-index: 51;
}

.header__logo span:first-child {
  font-family: "ElMessiri";
  font-weight: 600;
}

.header__logo span:last-child {
  letter-spacing: 0.1875rem;
  font-weight: 500;
  text-transform: uppercase;
}

.header__button {
  padding: 0.5rem 1.6875rem;
  border: 0.125rem solid #b5eac8;
  border-radius: 1.875rem 0.625rem;
  font-weight: 500;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.logo {
  z-index: 51;
}

.logo__text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.3125rem;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 3.25rem;
  z-index: 3;
}

.menu__item {
  position: relative;
}

.menu__item::after {
  content: "";
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
      -ms-transform: scaleX(0);
          transform: scaleX(0);
  height: 0.125rem;
  bottom: -0.125rem;
  left: 0;
  background-color: #8ad9a6;
  -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  -o-transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

.menu__link {
  line-height: 1.2222222222;
  font-weight: 500;
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
}

.icon-menu {
  display: none;
}

.footer {
  padding: 3.125rem 0;
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 0.9375rem;
}

.footer__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.125rem;
  position: relative;
  z-index: 51;
}

.footer__logo span:first-child {
  font-family: "ElMessiri";
  font-weight: 600;
}

.footer__logo span:last-child {
  letter-spacing: 0.1875rem;
  font-weight: 500;
  text-transform: uppercase;
}

.footer__menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.footer__menu-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: -webkit-max-content -webkit-max-content;
  -ms-grid-columns: max-content max-content;
  grid-template-columns: -webkit-max-content -webkit-max-content;
  grid-template-columns: max-content max-content;
  row-gap: 1.5625rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__menu-link {
  -webkit-transition: color 0.3s ease 0s;
  -o-transition: color 0.3s ease 0s;
  transition: color 0.3s ease 0s;
  font-weight: 500;
}

.footer__contacts-title {
  margin-bottom: 0.9375rem;
  font-weight: 500;
}

.footer__contacts-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__contacts-icon {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.hero {
  position: relative;
  padding-top: 3.125rem;
}

.hero::after {
  content: "";
  position: absolute;
  top: -7.5rem;
  left: 0;
  background: url("../img/hero-mask.svg") 0 0 no-repeat;
  height: 27.5rem;
  width: 100%;
  z-index: -1;
  pointer-events: none;
}

.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero__data {
  z-index: 3;
  width: 100%;
}

.hero__title {
  font-family: "ElMessiri";
  line-height: 1.2;
  margin-bottom: 1.25rem;
}

.hero__descr {
  line-height: 1.2307692308;
  margin-bottom: 3.75rem;
}

.hero__button {
  padding: 1rem 3.875rem;
  background-color: #b5eac8;
  border-radius: 1.875rem 0.625rem;
  font-size: 1.25rem;
  font-weight: 500;
  -webkit-transition: background-color 0.3s ease 0s;
  -o-transition: background-color 0.3s ease 0s;
  transition: background-color 0.3s ease 0s;
}

.hero__image {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 44.4444444444%;
          flex: 0 0 44.4444444444%;
  position: relative;
}

.hero__image::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%);
      -ms-transform: translate(-50%);
          transform: translate(-50%);
  width: 76.875rem;
  height: 44.6875rem;
  background: url("../img/hero-mask-background.svg") 0 0 no-repeat;
  z-index: -1;
}

.hero__image img {
  max-width: 100%;
}

.welcome__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 2.5rem;
}

.welcome__image {
  position: relative;
}

.welcome__image::before {
  content: "";
  position: absolute;
  left: -11.875rem;
  top: -8.4375rem;
  width: 20rem;
  height: 21.875rem;
  background: url("../img/welcome-mask-2.svg") 0 0 no-repeat;
  z-index: -1;
}

.welcome__image::after {
  content: "";
  position: absolute;
  right: -1.25rem;
  top: -1.25rem;
  width: 26.25rem;
  height: 28.125rem;
  background: url("../img/welcome-mask-1.svg") 0 0 no-repeat;
  z-index: -2;
}

.welcome__data {
  max-width: 46.875rem;
}

.welcome__title {
  font-size: 2rem;
  line-height: 1.1875;
  margin-bottom: 1.25rem;
  font-family: "ElMessiri";
}

.welcome__descr {
  font-weight: 500;
  line-height: 1.2727272727;
}

.welcome__descr:not(:last-child) {
  margin-bottom: 0.9375rem;
}

.pricing {
  background: url("../img/pricing-mask.svg") 0 0 no-repeat;
  background-size: 100% 100%;
  background-position: 100%;
}

.pricing__cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  gap: 1.25rem;
}

.pricing__card {
  background-color: #fff;
  -webkit-box-shadow: 0px 0.125rem 2.1875rem rgba(0, 87, 51, 0.08);
          box-shadow: 0px 0.125rem 2.1875rem rgba(0, 87, 51, 0.08);
  border-radius: 1.875rem;
  overflow: hidden;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.625rem;
  padding: 0.9375rem 0rem 0rem 2.8125rem;
}

.pricing__card--long {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 54rem;
          flex: 0 1 54rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pricing__card--long::after {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  background: #b5eac8;
  opacity: 0.7;
  -webkit-filter: blur(76px);
          filter: blur(76px);
  height: 27rem;
  width: 31.25rem;
  z-index: 0;
}

.pricing__card--long .pricing__card-image {
  -ms-flex-item-align: end;
      align-self: flex-end;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 48.6111111111%;
          flex: 0 0 48.6111111111%;
  z-index: 1;
}

.pricing__card--short {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 26.375rem;
          flex: 0 1 26.375rem;
  padding: 0.9375rem 1.875rem 1.875rem 2.8125rem;
}

.pricing__card--short::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background: #b5eac8;
  -webkit-filter: blur(65px);
          filter: blur(65px);
  height: 9.375rem;
  width: 100%;
  z-index: 0;
}

.pricing__card--short .pricing__card-image {
  margin-bottom: 1.25rem;
  z-index: 1;
}

.pricing__card-data {
  z-index: 1;
}

.pricing__card-image {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.pricing__card-image img {
  max-width: 100%;
  width: 100%;
}

.pricing__card-title {
  font-weight: 700;
  color: #365b44;
  line-height: 1.243902439;
}

.pricing__card--short .pricing__card-title {
  line-height: 1.2692307692;
  margin-bottom: 0.9375rem;
}

.pricing__card-age {
  display: block;
  font-weight: 500;
  color: #636363;
  line-height: 1.28;
}

.pricing__card--short .pricing__card-age {
  font-size: 1.125rem;
  margin-bottom: 1.25rem;
}

.pricing__card-count {
  font-weight: 500;
  line-height: 1.2368421053;
}

.pricing__card--short .pricing__card-count {
  font-size: 1.625rem;
  line-height: 1.2692307692;
}

.helps {
  position: relative;
}

.helps::after {
  content: "";
  position: absolute;
  top: 12.5rem;
  left: 0;
  background: rgba(181, 234, 200, 0.2);
  -webkit-filter: blur(76px);
          filter: blur(76px);
  height: 18.4375rem;
  width: 48.0625rem;
  z-index: -1;
}

.helps::before {
  content: "";
  position: absolute;
  top: -3.125rem;
  right: 0;
  background: rgba(181, 234, 200, 0.2);
  -webkit-filter: blur(76px);
          filter: blur(76px);
  height: 18.4375rem;
  width: 48.0625rem;
  z-index: -1;
}

.helps__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 1.25rem;
}

.helps__items {
  width: 100%;
}

.helps__item {
  background-color: #fff;
  -webkit-box-shadow: 0px 0.125rem 2.1875rem rgba(0, 87, 51, 0.08);
          box-shadow: 0px 0.125rem 2.1875rem rgba(0, 87, 51, 0.08);
  border-radius: 1.25rem;
  padding: 1.875rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.helps__item:not(:last-child) {
  margin-bottom: 1.875rem;
}

.helps__item--last {
  background: rgba(220, 234, 251, 0.4);
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
  padding: 2.625rem 3.75rem;
}

.helps__item-text {
  color: #4a4a4a;
  font-weight: 500;
  line-height: 1.2222222222;
}

.helps__item-text span {
  font-weight: 600;
}

.helps__item-text a {
  color: #3a85bf;
  text-decoration: underline;
  text-underline-offset: 0.125rem;
}

.helps__item-count {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 4.5rem;
          flex: 0 0 4.5rem;
  width: 4.5rem;
  height: 4.5rem;
  background: rgba(186, 235, 204, 0.5);
  border-radius: 50%;
  margin-right: 3.125rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
  font-size: 2.125rem;
  font-weight: 700;
  color: #365b44;
  position: relative;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.helps__item-item {
  position: relative;
  list-style-type: disc;
  font-weight: 500;
  color: #636363;
}

.helps__item-item:not(:last-child) {
  margin-bottom: 0.3125rem;
}

.reviews__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.875rem;
}

.reviews__wrapper {
  margin-bottom: 1.875rem;
}

.reviews__slide {
  text-align: center;
}

.reviews__slide img {
  max-width: 100%;
}

.education {
  background: url("../img/education/education-mask.svg") no-repeat;
  background-size: 100% 100%;
  background-position: center;
}

.education__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1.875rem;
}

.education__wrapper {
  margin-bottom: 1.875rem;
}

.education__slide {
  text-align: center;
}

.education__slide img {
  max-width: 100%;
}

.education__slide-zoom {
  cursor: -webkit-zoom-in;
  cursor: zoom-in;
}

.contacts__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  gap: 0.9375rem;
  background: #ffffff;
  border: 0.25rem solid #c1edd1;
  border-radius: 1.25rem;
  position: relative;
}

.contacts__data {
  z-index: 3;
}

.contacts__data-title {
  font-family: "ElMessiri";
  font-weight: 600;
  line-height: 1.1904761905;
  margin-bottom: 1.5625rem;
}

.contacts__data-item:not(:last-child) {
  margin-bottom: 1.25rem;
}

.contacts__data-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 0.2s ease 0s;
  -o-transition: color 0.2s ease 0s;
  transition: color 0.2s ease 0s;
}

.contacts__image {
  position: absolute;
  bottom: 0;
  right: -6.25rem;
  pointer-events: none;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 55.4022988506%;
          flex: 0 0 55.4022988506%;
}

.contacts__image img {
  max-width: 100%;
  pointer-events: none;
}

.contacts .socials__title {
  margin-bottom: 0.9375rem;
}

.contacts .socials__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1.5625rem;
}

.contacts .socials__link img {
  -webkit-transition: -webkit-transform 0.3s ease 0s;
  transition: -webkit-transform 0.3s ease 0s;
  -o-transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s;
  transition: transform 0.3s ease 0s, -webkit-transform 0.3s ease 0s;
}

.map__title {
  padding: 0rem 0.9375rem;
}

.map__block {
  width: 100%;
}

.swiper {
  overflow: hidden;
}

.swiper-wrapper {
  width: 100%;
  height: 100%;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.swiper-vertical .swiper-wrapper {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.swiper-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.swiper-initialized .swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.swiper-android .swiper-slide,
.swiper-android .swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}

.swiper-button-lock {
  display: none !important;
}

.swiper-button-prev,
.swiper-button-next {
  width: 72px;
  height: 72px;
  background: #FFFFFF;
  border: 0.5px solid #C4EED3;
  -webkit-box-shadow: 0px 16px 35px rgba(183, 222, 197, 0.15);
          box-shadow: 0px 16px 35px rgba(183, 222, 197, 0.15);
  border-radius: 50%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -webkit-transition: background-color 0.2s ease 0s;
  -o-transition: background-color 0.2s ease 0s;
  transition: background-color 0.2s ease 0s;
}

@media (min-width: 83.4375em) {
  .page {
    padding-top: 7.5rem;
  }

  section:not(:first-child) {
    padding-top: 3.125rem;
  }

  section:not(:first-child) {
    padding-bottom: 3.125rem;
  }

  ._section-title {
    font-size: 3.125rem;
  }

  ._section-title {
    margin-bottom: 3.125rem;
  }

  .header__logo span:first-child {
    font-size: 1.25rem;
  }

  .header__logo span:last-child {
    font-size: 0.75rem;
  }

  .footer__logo span:first-child {
    font-size: 1.5rem;
  }

  .footer__logo span:last-child {
    font-size: 0.75rem;
  }

  .footer__menu-list {
    -webkit-column-gap: 3.125rem;
       -moz-column-gap: 3.125rem;
            column-gap: 3.125rem;
  }

  .footer__contacts-icons {
    gap: 1.25rem;
  }

  .hero__title {
    font-size: 3.75rem;
  }

  .hero__descr {
    font-size: 1.625rem;
  }

  .hero__descr {
    margin-bottom: 3.75rem;
  }

  .welcome__descr {
    font-size: 1.375rem;
  }

  .pricing__card-title {
    margin-bottom: 1.25rem;
  }

  .pricing__card-title {
    font-size: 2.5625rem;
  }

  .pricing__card--short .pricing__card-title {
    font-size: 1.625rem;
  }

  .pricing__card-age {
    margin-bottom: 1.875rem;
  }

  .pricing__card-age {
    font-size: 1.5625rem;
  }

  .pricing__card-count {
    font-size: 2.375rem;
  }

  .contacts__data-list {
    margin-bottom: 2.8125rem;
  }

  .contacts__data-title {
    font-size: 2.625rem;
  }

  .contacts__data-link {
    gap: 1.25rem;
  }

  .contacts__data-link {
    font-size: 1.5rem;
  }

  .contacts .socials__title {
    font-size: 1.5rem;
  }

  .map__block {
    height: 31.25rem;
  }
}

@media (max-width: 62em) {
  .contacts__data {
    padding-top: 1.875rem;
  }

  .contacts__data {
    padding-left: 1.875rem;
  }

  .contacts__data {
    padding-bottom: 1.875rem;
  }
}

@media (max-width: 48em) {
  .menu {
    padding-right: 1.875rem;
  }

  .menu__list {
    gap: 1.875rem;
  }

  .contacts .socials__link img {
    width: 2.5rem;
  }

  .contacts .socials__link img {
    height: 2.5rem;
  }
}

@media (max-width: 20em) {
  .page {
    padding-top: 3.75rem;
  }

  section:not(:first-child) {
    padding-top: 1.5625rem;
  }

  section:not(:first-child) {
    padding-bottom: 1.5625rem;
  }

  ._section-title {
    font-size: 2.375rem;
  }

  ._section-title {
    margin-bottom: 1.875rem;
  }

  .header__logo span:first-child {
    font-size: 1rem;
  }

  .header__logo span:last-child {
    font-size: 0.625rem;
  }

  .footer__logo span:first-child {
    font-size: 1.125rem;
  }

  .footer__logo span:last-child {
    font-size: 0.625rem;
  }

  .footer__menu-list {
    -webkit-column-gap: 1.5625rem;
       -moz-column-gap: 1.5625rem;
            column-gap: 1.5625rem;
  }

  .footer__contacts-icons {
    gap: 0.625rem;
  }

  .hero__title {
    font-size: 1.625rem;
  }

  .hero__descr {
    font-size: 1rem;
  }

  .hero__descr {
    margin-bottom: 1.875rem;
  }

  .welcome__descr {
    font-size: 1.125rem;
  }

  .pricing__card-title {
    margin-bottom: 0.625rem;
  }

  .pricing__card-title {
    font-size: 1.375rem;
  }

  .pricing__card--short .pricing__card-title {
    font-size: 1.375rem;
  }

  .pricing__card-age {
    margin-bottom: 0.625rem;
  }

  .pricing__card-age {
    font-size: 1.125rem;
  }

  .pricing__card-count {
    font-size: 1.375rem;
  }

  .contacts__data-list {
    margin-bottom: 1.875rem;
  }

  .contacts__data-title {
    font-size: 1.25rem;
  }

  .contacts__data-link {
    gap: 0.625rem;
  }

  .contacts__data-link {
    font-size: 1.125rem;
  }

  .contacts .socials__title {
    font-size: 1.25rem;
  }

  .map__block {
    height: 18.75rem;
  }
}

@media (max-width: 61.99875em) {
  .pricing__cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .pricing__card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 1.25rem;
    width: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .pricing__card--long {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .pricing__card--long .pricing__card-image {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }

  .pricing__card--short {
    -webkit-box-flex: 100%;
        -ms-flex: 100%;
            flex: 100%;
  }

  .pricing__card--short .pricing__card-image {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }

  .pricing__card-image {
    width: 70%;
  }

  .contacts__image {
    position: relative;
    right: 0;
  }
}

@media (max-width: 47.99875em) {
  .header {
    padding: 1.25rem 0;
  }

  .header__button {
    font-size: 1.375rem;
  }

  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    overflow: auto;
    background-color: #fff;
    gap: 1.875rem;
    padding-top: 7.5rem;
    padding-left: 0.9375rem;
    padding-right: 0.9375rem;
    padding-bottom: 1.875rem;
  }

  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    width: 100%;
    height: 4.875rem;
    background-color: #fff;
    z-index: 10;
  }

  .menu-open .menu__body {
    left: 0;
  }

  .menu-open .menu__body::before {
    left: 0;
  }

  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .menu__link {
    font-size: 1.375rem;
  }

  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .footer__logo {
    margin-bottom: 1.875rem;
  }

  .footer__menu {
    margin-bottom: 1.875rem;
  }

  .footer__menu-list {
    -ms-grid-columns: auto;
    grid-template-columns: auto;
    text-align: center;
    gap: 1.25rem;
    font-weight: 500;
  }

  .footer__contacts-title {
    text-align: center;
    margin-bottom: 1.875rem;
  }

  .hero::after {
    top: -12.5rem;
    z-index: 2;
  }

  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 3.125rem;
  }

  .welcome__image {
    display: none;
  }

  .welcome__data {
    max-width: 100%;
  }

  .helps__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .helps__item--last {
    padding: 1.875rem;
  }

  .reviews__buttons button {
    width: 3.125rem;
    height: 3.125rem;
  }

  .education__buttons button {
    width: 3.125rem;
    height: 3.125rem;
  }

  .contacts__wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }

  .contacts__data {
    padding: 1.25rem;
  }

  .contacts .socials__list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    gap: 0.9375rem;
  }
}

@media (max-width: 29.99875em) {
  .footer__contacts-icons {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    row-gap: 1.5625rem;
  }

  .footer__contacts-icon {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 30.333%;
            flex: 0 1 30.333%;
    text-align: center;
  }

  .hero::after {
    display: none;
  }

  .hero__button {
    width: 100%;
    display: block;
    text-align: center;
  }

  .hero__image::after {
    height: 44.875rem;
  }

  .pricing__card {
    width: 100%;
    padding: 1.25rem;
  }

  .pricing__card--short {
    padding: 1.25rem;
  }

  .pricing__card--short .pricing__card-image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }

  .pricing__card-image {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin-bottom: 0.625rem;
    width: 100%;
  }

  .pricing__card-count {
    font-size: 1.5rem;
  }

  .pricing__card--short .pricing__card-count {
    font-size: 1.5rem;
  }

  .helps::after,
  .helps::before {
    display: none;
  }

  .helps__items:nth-child(1) .helps__item:nth-child(2) {
    background: #dcf5e5;
  }

  .helps__items:nth-child(1) .helps__item:nth-child(2) .helps__item-count {
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 35px rgba(0, 87, 51, 0.08);
            box-shadow: 0px 2px 35px rgba(0, 87, 51, 0.08);
  }

  .helps__items:nth-child(2) .helps__item:nth-child(1) {
    background: #dcf5e5;
  }

  .helps__items:nth-child(2) .helps__item:nth-child(1) .helps__item-count {
    background-color: #fff;
    -webkit-box-shadow: 0px 2px 35px rgba(0, 87, 51, 0.08);
            box-shadow: 0px 2px 35px rgba(0, 87, 51, 0.08);
  }

  .helps__item-count {
    position: absolute;
    left: -0.625rem;
    top: -0.9375rem;
    width: 2.625rem;
    height: 2.625rem;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 2.625rem;
            flex: 0 0 2.625rem;
    margin-right: 0;
    background: rgba(186, 235, 204, 0.7);
    font-size: 1.375rem;
  }

  .contacts__data-title {
    text-align: center;
  }

  .contacts .socials__link img {
    width: 2.1875rem;
    width: 2.1875rem;
  }
}

@media (min-width: 20em) and (max-width: 83.4375em) {
@supports (padding-top: clamp( 3.75rem , 2.5677339901rem  +  5.9113300493vw , 7.5rem )) {
    .page {
      padding-top: clamp( 3.75rem , 2.5677339901rem  +  5.9113300493vw , 7.5rem );
    }
}

@supports not (padding-top: clamp( 3.75rem , 2.5677339901rem  +  5.9113300493vw , 7.5rem )) {
    .page {
      padding-top: calc(3.75rem + 3.75 * (100vw - 20rem) / 63.4375);
    }
}

@supports (padding-top: clamp( 1.5625rem , 1.0698891626rem  +  2.4630541872vw , 3.125rem )) {
    section:not(:first-child) {
      padding-top: clamp( 1.5625rem , 1.0698891626rem  +  2.4630541872vw , 3.125rem );
    }
}

@supports not (padding-top: clamp( 1.5625rem , 1.0698891626rem  +  2.4630541872vw , 3.125rem )) {
    section:not(:first-child) {
      padding-top: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 63.4375);
    }
}

@supports (padding-bottom: clamp( 1.5625rem , 1.0698891626rem  +  2.4630541872vw , 3.125rem )) {
    section:not(:first-child) {
      padding-bottom: clamp( 1.5625rem , 1.0698891626rem  +  2.4630541872vw , 3.125rem );
    }
}

@supports not (padding-bottom: clamp( 1.5625rem , 1.0698891626rem  +  2.4630541872vw , 3.125rem )) {
    section:not(:first-child) {
      padding-bottom: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 63.4375);
    }
}

@supports (font-size: clamp( 2.375rem , 2.138546798rem  +  1.1822660099vw , 3.125rem )) {
    ._section-title {
      font-size: clamp( 2.375rem , 2.138546798rem  +  1.1822660099vw , 3.125rem );
    }
}

@supports not (font-size: clamp( 2.375rem , 2.138546798rem  +  1.1822660099vw , 3.125rem )) {
    ._section-title {
      font-size: calc(2.375rem + 0.75 * (100vw - 20rem) / 63.4375);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.48091133rem  +  1.9704433498vw , 3.125rem )) {
    ._section-title {
      margin-bottom: clamp( 1.875rem , 1.48091133rem  +  1.9704433498vw , 3.125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.48091133rem  +  1.9704433498vw , 3.125rem )) {
    ._section-title {
      margin-bottom: calc(1.875rem + 1.25 * (100vw - 20rem) / 63.4375);
    }
}

@supports (font-size: clamp( 1rem , 0.921182266rem  +  0.39408867vw , 1.25rem )) {
    .header__logo span:first-child {
      font-size: clamp( 1rem , 0.921182266rem  +  0.39408867vw , 1.25rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.921182266rem  +  0.39408867vw , 1.25rem )) {
    .header__logo span:first-child {
      font-size: calc(1rem + 0.25 * (100vw - 20rem) / 63.4375);
    }
}

@supports (font-size: clamp( 0.625rem , 0.585591133rem  +  0.197044335vw , 0.75rem )) {
    .header__logo span:last-child {
      font-size: clamp( 0.625rem , 0.585591133rem  +  0.197044335vw , 0.75rem );
    }
}

@supports not (font-size: clamp( 0.625rem , 0.585591133rem  +  0.197044335vw , 0.75rem )) {
    .header__logo span:last-child {
      font-size: calc(0.625rem + 0.125 * (100vw - 20rem) / 63.4375);
    }
}

@supports (font-size: clamp( 1.125rem , 1.006773399rem  +  0.5911330049vw , 1.5rem )) {
    .footer__logo span:first-child {
      font-size: clamp( 1.125rem , 1.006773399rem  +  0.5911330049vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.006773399rem  +  0.5911330049vw , 1.5rem )) {
    .footer__logo span:first-child {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 63.4375);
    }
}

@supports (font-size: clamp( 0.625rem , 0.585591133rem  +  0.197044335vw , 0.75rem )) {
    .footer__logo span:last-child {
      font-size: clamp( 0.625rem , 0.585591133rem  +  0.197044335vw , 0.75rem );
    }
}

@supports not (font-size: clamp( 0.625rem , 0.585591133rem  +  0.197044335vw , 0.75rem )) {
    .footer__logo span:last-child {
      font-size: calc(0.625rem + 0.125 * (100vw - 20rem) / 63.4375);
    }
}

@supports ((-moz-column-gap: clamp( 1.5625rem , 1.0698891626rem  +  2.4630541872vw , 3.125rem )) or (column-gap: clamp( 1.5625rem , 1.0698891626rem  +  2.4630541872vw , 3.125rem ))) {
    .footer__menu-list {
      -webkit-column-gap: clamp( 1.5625rem , 1.0698891626rem  +  2.4630541872vw , 3.125rem );
         -moz-column-gap: clamp( 1.5625rem , 1.0698891626rem  +  2.4630541872vw , 3.125rem );
              column-gap: clamp( 1.5625rem , 1.0698891626rem  +  2.4630541872vw , 3.125rem );
    }
}

@supports not ((-moz-column-gap: clamp( 1.5625rem , 1.0698891626rem  +  2.4630541872vw , 3.125rem )) or (column-gap: clamp( 1.5625rem , 1.0698891626rem  +  2.4630541872vw , 3.125rem ))) {
    .footer__menu-list {
      -webkit-column-gap: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 63.4375);
         -moz-column-gap: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 63.4375);
              column-gap: calc(1.5625rem + 1.5625 * (100vw - 20rem) / 63.4375);
    }
}

@supports (gap: clamp( 0.625rem , 0.427955665rem  +  0.9852216749vw , 1.25rem )) {
    .footer__contacts-icons {
      gap: clamp( 0.625rem , 0.427955665rem  +  0.9852216749vw , 1.25rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.427955665rem  +  0.9852216749vw , 1.25rem )) {
    .footer__contacts-icons {
      gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 63.4375);
    }
}

@supports (font-size: clamp( 1.625rem , 0.9550492611rem  +  3.3497536946vw , 3.75rem )) {
    .hero__title {
      font-size: clamp( 1.625rem , 0.9550492611rem  +  3.3497536946vw , 3.75rem );
    }
}

@supports not (font-size: clamp( 1.625rem , 0.9550492611rem  +  3.3497536946vw , 3.75rem )) {
    .hero__title {
      font-size: calc(1.625rem + 2.125 * (100vw - 20rem) / 63.4375);
    }
}

@supports (font-size: clamp( 1rem , 0.802955665rem  +  0.9852216749vw , 1.625rem )) {
    .hero__descr {
      font-size: clamp( 1rem , 0.802955665rem  +  0.9852216749vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1rem , 0.802955665rem  +  0.9852216749vw , 1.625rem )) {
    .hero__descr {
      font-size: calc(1rem + 0.625 * (100vw - 20rem) / 63.4375);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.2838669951rem  +  2.9556650246vw , 3.75rem )) {
    .hero__descr {
      margin-bottom: clamp( 1.875rem , 1.2838669951rem  +  2.9556650246vw , 3.75rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.2838669951rem  +  2.9556650246vw , 3.75rem )) {
    .hero__descr {
      margin-bottom: calc(1.875rem + 1.875 * (100vw - 20rem) / 63.4375);
    }
}

@supports (font-size: clamp( 1.125rem , 1.046182266rem  +  0.39408867vw , 1.375rem )) {
    .welcome__descr {
      font-size: clamp( 1.125rem , 1.046182266rem  +  0.39408867vw , 1.375rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.046182266rem  +  0.39408867vw , 1.375rem )) {
    .welcome__descr {
      font-size: calc(1.125rem + 0.25 * (100vw - 20rem) / 63.4375);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.427955665rem  +  0.9852216749vw , 1.25rem )) {
    .pricing__card-title {
      margin-bottom: clamp( 0.625rem , 0.427955665rem  +  0.9852216749vw , 1.25rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.427955665rem  +  0.9852216749vw , 1.25rem )) {
    .pricing__card-title {
      margin-bottom: calc(0.625rem + 0.625 * (100vw - 20rem) / 63.4375);
    }
}

@supports (font-size: clamp( 1.375rem , 1.0006157635rem  +  1.8719211823vw , 2.5625rem )) {
    .pricing__card-title {
      font-size: clamp( 1.375rem , 1.0006157635rem  +  1.8719211823vw , 2.5625rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.0006157635rem  +  1.8719211823vw , 2.5625rem )) {
    .pricing__card-title {
      font-size: calc(1.375rem + 1.1875 * (100vw - 20rem) / 63.4375);
    }
}

@supports (font-size: clamp( 1.375rem , 1.296182266rem  +  0.39408867vw , 1.625rem )) {
    .pricing__card--short .pricing__card-title {
      font-size: clamp( 1.375rem , 1.296182266rem  +  0.39408867vw , 1.625rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.296182266rem  +  0.39408867vw , 1.625rem )) {
    .pricing__card--short .pricing__card-title {
      font-size: calc(1.375rem + 0.25 * (100vw - 20rem) / 63.4375);
    }
}

@supports (margin-bottom: clamp( 0.625rem , 0.23091133rem  +  1.9704433498vw , 1.875rem )) {
    .pricing__card-age {
      margin-bottom: clamp( 0.625rem , 0.23091133rem  +  1.9704433498vw , 1.875rem );
    }
}

@supports not (margin-bottom: clamp( 0.625rem , 0.23091133rem  +  1.9704433498vw , 1.875rem )) {
    .pricing__card-age {
      margin-bottom: calc(0.625rem + 1.25 * (100vw - 20rem) / 63.4375);
    }
}

@supports (font-size: clamp( 1.125rem , 0.9870689655rem  +  0.6896551724vw , 1.5625rem )) {
    .pricing__card-age {
      font-size: clamp( 1.125rem , 0.9870689655rem  +  0.6896551724vw , 1.5625rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 0.9870689655rem  +  0.6896551724vw , 1.5625rem )) {
    .pricing__card-age {
      font-size: calc(1.125rem + 0.4375 * (100vw - 20rem) / 63.4375);
    }
}

@supports (font-size: clamp( 1.375rem , 1.059729064rem  +  1.5763546798vw , 2.375rem )) {
    .pricing__card-count {
      font-size: clamp( 1.375rem , 1.059729064rem  +  1.5763546798vw , 2.375rem );
    }
}

@supports not (font-size: clamp( 1.375rem , 1.059729064rem  +  1.5763546798vw , 2.375rem )) {
    .pricing__card-count {
      font-size: calc(1.375rem + 1 * (100vw - 20rem) / 63.4375);
    }
}

@supports (margin-bottom: clamp( 1.875rem , 1.5794334975rem  +  1.4778325123vw , 2.8125rem )) {
    .contacts__data-list {
      margin-bottom: clamp( 1.875rem , 1.5794334975rem  +  1.4778325123vw , 2.8125rem );
    }
}

@supports not (margin-bottom: clamp( 1.875rem , 1.5794334975rem  +  1.4778325123vw , 2.8125rem )) {
    .contacts__data-list {
      margin-bottom: calc(1.875rem + 0.9375 * (100vw - 20rem) / 63.4375);
    }
}

@supports (font-size: clamp( 1.25rem , 0.8165024631rem  +  2.1674876847vw , 2.625rem )) {
    .contacts__data-title {
      font-size: clamp( 1.25rem , 0.8165024631rem  +  2.1674876847vw , 2.625rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 0.8165024631rem  +  2.1674876847vw , 2.625rem )) {
    .contacts__data-title {
      font-size: calc(1.25rem + 1.375 * (100vw - 20rem) / 63.4375);
    }
}

@supports (gap: clamp( 0.625rem , 0.427955665rem  +  0.9852216749vw , 1.25rem )) {
    .contacts__data-link {
      gap: clamp( 0.625rem , 0.427955665rem  +  0.9852216749vw , 1.25rem );
    }
}

@supports not (gap: clamp( 0.625rem , 0.427955665rem  +  0.9852216749vw , 1.25rem )) {
    .contacts__data-link {
      gap: calc(0.625rem + 0.625 * (100vw - 20rem) / 63.4375);
    }
}

@supports (font-size: clamp( 1.125rem , 1.006773399rem  +  0.5911330049vw , 1.5rem )) {
    .contacts__data-link {
      font-size: clamp( 1.125rem , 1.006773399rem  +  0.5911330049vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.125rem , 1.006773399rem  +  0.5911330049vw , 1.5rem )) {
    .contacts__data-link {
      font-size: calc(1.125rem + 0.375 * (100vw - 20rem) / 63.4375);
    }
}

@supports (font-size: clamp( 1.25rem , 1.171182266rem  +  0.39408867vw , 1.5rem )) {
    .contacts .socials__title {
      font-size: clamp( 1.25rem , 1.171182266rem  +  0.39408867vw , 1.5rem );
    }
}

@supports not (font-size: clamp( 1.25rem , 1.171182266rem  +  0.39408867vw , 1.5rem )) {
    .contacts .socials__title {
      font-size: calc(1.25rem + 0.25 * (100vw - 20rem) / 63.4375);
    }
}

@supports (height: clamp( 18.75rem , 14.8091133005rem  +  19.7044334975vw , 31.25rem )) {
    .map__block {
      height: clamp( 18.75rem , 14.8091133005rem  +  19.7044334975vw , 31.25rem );
    }
}

@supports not (height: clamp( 18.75rem , 14.8091133005rem  +  19.7044334975vw , 31.25rem )) {
    .map__block {
      height: calc(18.75rem + 12.5 * (100vw - 20rem) / 63.4375);
    }
}
}

@media (min-width: 48em) and (max-width: 120em) {
@supports (padding-right: clamp( 1.875rem , -2.4166666667rem  +  8.9409722222vw , 8.3125rem )) {
    .menu {
      padding-right: clamp( 1.875rem , -2.4166666667rem  +  8.9409722222vw , 8.3125rem );
    }
}

@supports not (padding-right: clamp( 1.875rem , -2.4166666667rem  +  8.9409722222vw , 8.3125rem )) {
    .menu {
      padding-right: calc(1.875rem + 6.4375 * (100vw - 48rem) / 72);
    }
}

@supports (gap: clamp( 1.875rem , 0.9583333333rem  +  1.9097222222vw , 3.25rem )) {
    .menu__list {
      gap: clamp( 1.875rem , 0.9583333333rem  +  1.9097222222vw , 3.25rem );
    }
}

@supports not (gap: clamp( 1.875rem , 0.9583333333rem  +  1.9097222222vw , 3.25rem )) {
    .menu__list {
      gap: calc(1.875rem + 1.375 * (100vw - 48rem) / 72);
    }
}

@supports (width: clamp( 2.5rem , 1.75rem  +  1.5625vw , 3.625rem )) {
    .contacts .socials__link img {
      width: clamp( 2.5rem , 1.75rem  +  1.5625vw , 3.625rem );
    }
}

@supports not (width: clamp( 2.5rem , 1.75rem  +  1.5625vw , 3.625rem )) {
    .contacts .socials__link img {
      width: calc(2.5rem + 1.125 * (100vw - 48rem) / 72);
    }
}

@supports (height: clamp( 2.5rem , 1.75rem  +  1.5625vw , 3.625rem )) {
    .contacts .socials__link img {
      height: clamp( 2.5rem , 1.75rem  +  1.5625vw , 3.625rem );
    }
}

@supports not (height: clamp( 2.5rem , 1.75rem  +  1.5625vw , 3.625rem )) {
    .contacts .socials__link img {
      height: calc(2.5rem + 1.125 * (100vw - 48rem) / 72);
    }
}
}

@media (min-width: 62em) and (max-width: 120em) {
@supports (padding-top: clamp( 1.875rem , -0.1293103448rem  +  3.2327586207vw , 3.75rem )) {
    .contacts__data {
      padding-top: clamp( 1.875rem , -0.1293103448rem  +  3.2327586207vw , 3.75rem );
    }
}

@supports not (padding-top: clamp( 1.875rem , -0.1293103448rem  +  3.2327586207vw , 3.75rem )) {
    .contacts__data {
      padding-top: calc(1.875rem + 1.875 * (100vw - 62rem) / 58);
    }
}

@supports (padding-left: clamp( 1.875rem , -1.4655172414rem  +  5.3879310345vw , 5rem )) {
    .contacts__data {
      padding-left: clamp( 1.875rem , -1.4655172414rem  +  5.3879310345vw , 5rem );
    }
}

@supports not (padding-left: clamp( 1.875rem , -1.4655172414rem  +  5.3879310345vw , 5rem )) {
    .contacts__data {
      padding-left: calc(1.875rem + 3.125 * (100vw - 62rem) / 58);
    }
}

@supports (padding-bottom: clamp( 1.875rem , -0.1293103448rem  +  3.2327586207vw , 3.75rem )) {
    .contacts__data {
      padding-bottom: clamp( 1.875rem , -0.1293103448rem  +  3.2327586207vw , 3.75rem );
    }
}

@supports not (padding-bottom: clamp( 1.875rem , -0.1293103448rem  +  3.2327586207vw , 3.75rem )) {
    .contacts__data {
      padding-bottom: calc(1.875rem + 1.875 * (100vw - 62rem) / 58);
    }
}
}

@media (any-hover: hover) {
  .header__button:hover {
    background-color: #b5eac8;
    border: 0.125rem solid transparent;
  }

  .menu__item:hover::after {
    -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
            transform: scaleX(1);
    -webkit-transform-origin: bottom left;
        -ms-transform-origin: bottom left;
            transform-origin: bottom left;
  }

  .menu__link:hover {
    color: #8ad9a6;
  }

  .footer__menu-link:hover {
    color: #8ad9a6;
  }

  .footer__contacts-icon:hover {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
  }

  .hero__button:hover {
    background-color: #8ad6a6;
  }

  .contacts__data-link:hover {
    color: #70b6ef;
  }

  .contacts .socials__link img:hover {
    -webkit-transform: scale(0.9);
        -ms-transform: scale(0.9);
            transform: scale(0.9);
  }

  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    background: #B5EAC8;
  }

  .swiper-button-prev:hover svg path,
  .swiper-button-next:hover svg path {
    fill: #FFF;
  }
}